#!/bin/bash

export S3ENDPOINT="s3.amazonaws.com"
export S3ACCESSKEYID="ACCESSKEY"
export S3SECRETACCESSKEY="SECRETACCESSKEY"
export S3BUCKETNAME="test-bucket"
export S3OBJECTNAME="test-objectname"
export S3LOCATION="eu-west-2"
